<section class="main">
    <div class="main-grid">
        <div class="main-flex">
            <div>
                <h1 class="main-grid-text">
                    <span>Do you want to</span>
                    <span class="main-grid-text-blue"><br>contact?</span>
                </h1>
                <label class="main-grid-text-description baloo">Drop a line on the email below, or use the contact form.</label>
            </div>
            <h2 class="main-grid-text-email">rafal.nazarko@gmail.com</h2>
            <div class="main-flex-row">
                <div class="social social--facebook">
                    <i class="lab">&#xf39e;</i>
                </div>
                <div class="social social--linkedin">
                    <i class="lab">&#xf08c;</i>
                </div>
                <div class="social social--github">
                    <i class="lab">&#xf09b;</i>
                </div>
            </div>
        </div>
    </div>
</section>
