<section class="main">
    <div class="main-grid">
        <div class="main-flex">
            <div>
                <h1 class="main-grid-text">
                    <span>Do you want to</span>
                    <span class="main-grid-text-blue"><br>contact?</span>
                </h1>
                <label class="main-grid-text-description baloo">Drop a line on the email below, or use the contact form.</label>
            </div>
            <h2 class="main-grid-text-email">rafal.nazarko@gmail.com</h2>
            <div class="main-flex-row">
                <div class="social social--facebook">
                    <i class="lab">&#xf39e;</i>
                </div>
                <div class="social social--linkedin">
                    <i class="lab">&#xf08c;</i>
                </div>
                <div class="social social--github">
                    <i class="lab">&#xf09b;</i>
                </div>
            </div>
        </div>
        <div class="contact">
            <form #newContactForm="ngForm" class="contact-grid">
                <ng-container *ngIf="!isSended">
                    <input required placeholder="Your email" [disabled]="isSended" pattern="^[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,4}$" type="email" autocomplete="email" class="contact-form contact-form--email baloo" #email="ngModel" [(ngModel)]="_email" [ngModelOptions]="{standalone: true}">
                    <textarea required style="resize: none;" [disabled]="isSended" minlength="1" placeholder="Message" class="contact-form contact-form--message baloo" #message="ngModel" [(ngModel)]="_message" [ngModelOptions]="{standalone: true}"></textarea>
                </ng-container>
                <ng-container *ngIf="isSended">
                    <h1 class="contact-thanks" [@thanks]="isSended ? 'thanks' : 'void'">Thanks for your message!<br><span class="contact-thanks--2 baloo">I will respond as soon as I am possible.</span></h1>
                </ng-container>
                <button class="las baloo contact-button" [disabled]="!newContactForm.valid || !isEmailValid || !isMessageValid || isSended" (click)="send()">
                  <span>{{isSended ? 'Sended' : 'Send'}} </span>
                  <i class="las contact-button-send" id="paper-plane" [@send]="isSended ? 'send' : 'void'">&#xf1d8;</i>
                </button>
            </form>
        </div>
    </div>
</section>
