<section class="main">
    <div class="main-grid">
        <h1 class="main-title">What I have <span class="main-title-blue">developed?</span></h1>
        <app-project class="project project--left" [project]="list[projectPosition(1)]" (click)="actualIndex = actualIndex - 1"></app-project>
        <app-project class="project project--center" [project]="list[projectPosition(0)]"></app-project>
        <app-project class="project project--right" [project]="list[projectPosition(-1)]" (click)="actualIndex = actualIndex + 1"></app-project>
        <button class="project-button project-button--back" (click)="actualIndex = actualIndex - 1"><i class="las">&#xf104;</i></button>
        <button class="project-button project-button--forward" (click)="actualIndex = actualIndex + 1"><i class="las">&#xf105;</i></button>
    </div>
</section>
