<section class="main">
    <div class="main-grid">

        <div class="main-grid-text-container">
            <h1>
                <span class="main-grid-text">
              Hello World,<br>I'm
          </span>
                <span class="main-grid-text-blue">
              Rafał Nazarko
          </span>
            </h1>
            <label class="main-grid-text-description">
          Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque finibus, urna non pellentesque interdum, sem nisi elementum arcu, vitae gravida nulla orci ut risus. Sed nec porta risus. Aliquam interdum tellus vel dui facilisis, at fringilla libero eleifend. Nullam at condimentum nulla. Cras venenatis pellentesque sem sed convallis. Nam non varius ante. Sed id porttitor turpis. Sed leo turpis, eleifend non dui in, condimentum facilisis turpis.
        </label>
        </div>

        <div class="main-grid-image-container">
            <img src="../../../assets/images/me.png" alt="Me">
        </div>

        <div class="main-grid-button-container">
            <button class="las baloo main-grid-button">
              <span>Know me </span>
              <i class="las">&#xf103;</i>
            </button>
        </div>

    </div>
</section>
