$color-primary: #1BB9CE;
$color-primary-dark: #158e9e;
$color-grey-0: #C4C4C4;
$color-grey-1: #595959;
$color-grey-2: #222222;
$color-grey-3: #171717;
$color-grey-4: #121212;
$color-shadow: #2A2A2A;
$color-white: #fff;
$color-black: #000;
